body{
    background-color: #F0F2F5;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper{
    background-color: #fff;
    border: 1px solid lightgray;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
}

.post-content{
    margin-top: 30px;
    /* text-align: justify; */
}
.image-wrapper{
    margin-right: 8px;
}
.image-wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h2{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.increment-display{
    padding: 15px 0;
}
.social{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.social a {
    color: #746c6c;
    font-size: 16px;
    font-weight: 600;
}

.color-primary {
    color: #056BE1;
}