body{
    background-color: #F0F2F5;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper{
    background-color: #fff;
    border: 1px solid lightgray;
    width: 500px;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}
/* .post{
    background-color: #fff;
    padding: 30px 10;
    border: 1px solid lightgray;
    width: 500px;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
} */

.post-content{
    margin-top: 30px;
    border-left: 3px solid lightgray;
    padding-left: 20px;
}
.image-wrapper{
    margin-right: 15px;
}
.image-wrapper img{
    width: 50px;
    border-radius: 50%;
}

h2{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.increment-display{
    border-top: 1px solid lightgray;
    padding-top: 15px;
}
.social{
    border-top: 1px solid lightgray;
    padding-top: 15px;
}

.social a {
    color: #746c6c;
    font-size: 16px;
    font-weight: 600;
}