
.sidebar,
.widgets{
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 50px;
}

.sidebar::-webkit-scrollbar, 
.widgets::-webkit-scrollbar{
  width: 5px;
}

.sidebar::-webkit-scrollbar:hover{
  display: block;
}

.sidebar::-webkit-scrollbar-track,
.widgets::-webkit-scrollbar-track{
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb,
.widgets::-webkit-scrollbar-thumb{
  background-color: lightgray;
  border-radius: 20px;
}

.sidebarRow:hover, 
.ads-content .notifications:hover,
.ads-content .promotion:hover,
.btn-lg:hover{
  background-color: #E4E6E9;
  border-radius: 5px;
}

.btn-sm{
  color: #1F69D0;
  
}
.btn-sm:hover {
  background-color: #E4E6E9;
  color: #1F69D0;
}


